/* Reset básico */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fcecf0;
    color: #000000;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFB3C7;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1rem;
}

.nav-links li:hover {
    font-weight: bold;
}

.hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.logo img {
    width: 150px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

.home-section {
    padding-top: 70px; 
}

.home-main {
    display: flex;
    align-items: center; 
    justify-content: center; 
    gap: 20px; 
    padding: 20px; 
    min-height: calc(100vh - 50px); 
    margin-top: -70px; 
}

.foto-perfil {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.perfil-texto {
    max-width: 600px;
}

.projetos-section {
    padding: 40px 20px;
    text-align: center;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
}

.projetos-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.projetos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
    width: 400px;
}

.card-nav {
    background-color: #da4469;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.card-details {
    padding: 20px;
    font-size: 16px;
    color: #333;
}

.card-footer {
    padding: 5px;
    text-align: center;
}

.ver-mais-btn {
    display: inline-block;
    background-color: #da4469;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}

.ver-mais-btn:hover {
    background-color: #aa0730;
}

.ver-outros-projetos {
    text-align: center;
    margin-top: 70px;
}

.ver-outros-btn {
    background-color: #da4469;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.ver-outros-btn:hover {
    background-color: #aa0730;
}

/* PROJETOS [PAGINA] */

.card-section-grande {
    margin: 100px 20px; /* Adiciona espaço suficiente para compensar a navbar fixa */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-section-grande h2 {
    font-size: 2rem;
    margin-top: 5px; /* Reduz o espaço superior */
    margin-bottom: 25px; /* Ajusta o espaço inferior, se necessário */
}

.card-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 90%;  
    max-width: 1200px; 
}

.card-item-grande {
    scroll-margin-top: 100px; /* Compensa a altura da navbar fixa */
    background-color: white;
    width: 100%;
    min-height: 200px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: left;
}

/* .card-item-grande:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 24px rgba(0,0,0,0.2);
}
 */
.card-item-grande h3 {
    font-size: 24px;
    margin-bottom: 0px;
    color: #da4469;
}

.card-item-grande p {
    font-size: 17px;
    margin-bottom: 10px;
    color: #333;
    font-weight: normal;
}

.tecnologias {
    margin: 25px 0;
    font-weight: bold;
}


.tecnologias-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tecnologias-container img {
    height: auto;
    max-width: 150px; 
}

/* CONTATO */
